/* .site-header {
    background-color: #343a40!important;
} */

/* .site-title {
    color: #e8e8e8!important;
    max-height: 6%!important;
    padding-left: 3%!important;
    float: right!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"  
} */

.page-content {
    padding-top: 1%!important;
    padding-bottom: 1%!important;
}

nav {
    padding: 0%!important;
    max-height: 55px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* .logo  {
    float: left!important;
} */

.whenandwhere {
    background-color: white;
    border-color: white;
    padding: 0%;
    font-size: 1.75rem;
    margin: 0!important;
}

h2 {
    color: #212529!important;
    margin-top: 3%!important;
    margin-bottom: 1%!important;
}

h4 {
    margin-bottom: 0!important;
}

h3 {
    margin-top: 1%!important;
}

p {
    text-align: justify!important;
}

a {
    text-align: center!important;
}

.column {
    float: left;
    width: 50%;
  }
  
.col1 {
    background-color: #343a40!important;
    color: white!important;
}  

.col2 {
    background-color: white;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

table#timetable {
    width: 100%; 
    align-content: center;
  }

td {
    background-color:#ccccccff;
}

.pricing {
    background-color: white;
    border-color: white;
    padding: 0%;
}

.register {
 background-color:#343a40;
 border: black;
 border-radius: 5px;
 color: #e8e8e8;
 padding: 2%;
 display: table;
 margin: 0 auto
}

.speaker-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker-position {
    text-align: center;
    padding-top: 0px;
    font-size: 0.95em;

.speaker {
        margin-top: 15px;
}

.speaker .speaker-photo {
        width: 80%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
}

.speaker .speaker-photo img {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%;
        border: 2px solid black!important;
}

.speaker .speaker-social {
        text-align: center;
        padding: 5px;
        font-size: 2.25em;
}

table {
    margin-bottom: 0!important;
}