/* .site-header {
    background-color: #343a40!important;
} */

/* .site-title {
    color: #e8e8e8!important;
    max-height: 6%!important;
    padding-left: 3%!important;
    float: right!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"  
} */

.logo  {
    float: left!important;
}
  
  li a:hover {
    background-color: #111;
  }

p {
    text-align: justify!important;
}

a {
    text-align: center!important;
}

.column {
    float: left;
    width: 50%;
  }
  
.col1 {
    background-color: #343a40!important;
    color: white!important;
}  

.col2 {
    background-color: white;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

table#timetable {
    width: 100%; 
    align-content: center;
  }

td {
    background-color:#ccccccff;
}

.register {
 background-color:#343a40;
 border: black;
 border-radius: 5px;
 color: #e8e8e8;
 padding: 2%;
 display: table;
 margin: 0 auto
}

.speaker-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker-position {
    text-align: center;
    padding-top: 0px;
    font-size: 0.95em;

.speaker {
        margin-top: 15px;
}

.speaker .speaker-photo {
        width: 80%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
}

.speaker .speaker-photo img {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
}

.speaker .speaker-social {
        text-align: center;
        padding: 5px;
        font-size: 2.25em;
}