<header class="site-header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light fixed-top">
    <div class="container" style="max-height: 55px;">
        <a class="navbar-brand" href="/"><img src="images/exegetic-banner-white.svg" class="img-responsive" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="">Exegetic Analytics</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="wrapper">
    <div class="logo">
    <a href="https://www.exegetic.biz/"><img src="images/exegetic-banner-white.svg" alt="Exegetic Analytics logo"></a>
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div> -->
</header>
