---
layout: default
---

  <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <a href="https://www.exegetic.biz/"><img src="images/exegetic-banner-grad.svg" alt="Exegetic Analytics logo"></a>
  <h1 style="text-align:center;">Introduction to Data Science with R</h1>
          <h3>When: 24-28 June 2019</h3>
          <h3>Where: <a href="https://www.google.com/maps/dir//The+Barn+-+Woodstock+Exchange,+Block+B,+Woodstock+Industrial+Centre,+66-68+Albert+Rd,+Woodstock,+Cape+Town,+7915/@-30.7662416,15.719826,5z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc5d995de78aa1:0xa5b8a48b84a35c36!2m2!1d18.4458201!2d-33.9269">Bandwidth Barn, Woodstock, Cape Town</a></h3>
  </div>
<br>
  <h2>Condensed course outline</h2>
  <table id="timetable">
      <tr>
        <td rowspan="2" class="col1">Day 1</td>
        <td class="col2">AM</td> 
        <td class="col2"><a href="https://www.exegetic.biz/training/r-introduction/" target="_blank">Introduction to R</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
        <td class="col2"><a href="https://www.exegetic.biz/training/r-data-wrangling/" target="_blank">Data Wrangling</a></td>
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 2</td>
        <td class="col2">AM</td> 
        <td rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-visualisation-ggplot2/" target="_blank">Visualisation</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 3</td>
        <td class="col2">AM</td> 
        <td class="col2">Machine Learning:<a href="https://www.exegetic.biz/training/r-machine-learning-classification/" target="_blank"> Classification</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
        <td class="col2">Machine Learning:<a href="https://www.exegetic.biz/training/r-machine-learning-linear-models/" target="_blank"> Linear Models</td>
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 4</td>
        <td class="col2">AM</td> 
        <td  rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-shiny-apps/" target="_blank">Building Shiny Apps</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 5</td>
        <td class="col2">AM</td> 
        <td rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-markdown/" target="_blank">RMarkdown and Automated Reporting</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
    </table>  
  
  <h2>Scope and objectives</h2>
  <p>We will open with an <b>Introduction to R</b> establishing the fundamental features of the language. This will serve as a foundation for the rest of the course.</p> 
  <p>Next up: <b>Data Wrangling</b>! Here you'll become more familiar with your new best friend: the <a href="https://www.tidyverse.org/" target="_blank">tidyverse</a>. You'll learn to load data from CSV and XLSX files then how to wrangle those data into submission.</p>
  <p>On day 2 we'll demonstrate how to combine the basic components of <b>ggplot2</b> in order to create sophisticated <b>visualisations</b>. We’ll then look at extensions for labelling points in congested scatterplots and producing animations.</p>
  <p><b>Machine Learning</b> will be our next focus covering both classification and linear models. </p>
  <p>On day 4 you'll learn to create interactive data-driven apps using <b>Shiny</b>. Specifically how to:
    <ul>
      <li>understand the structure of a Shiny application (UI and server)</li>
      <li>assemble an attractive UI</li>
      <li>understand reactivity and how the UI and server communicate with each other and</li>
      <li>deploy a Shiny application</li>
    </ul></p>
  <p>Our final day, dedicated to <b>RMarkdown</b> and <b>automated reporting</b>, will teach you everything you need to know in order to source and prepare data, create an R markdown doc with tables and figures and how to schedule recurring reports.</p>
  
  <h2> Who should attend?</h2>
      <ul>
        <li>No prior R experience required</li>
        <li>Academics</li>
        <li>Graduate students</li>
        <li>Data analysts</li>
        <li>Anybody who analyses data with Excel</li>
        <li>Anybody who wants to streamline their analytics workflow</li>
      </ul>
  
  <h2>Why should I attend?</h2>
      <ul>
        <li>The demand for Data Scientists is on a rapid rise and shows no signs of slowing down.</li>
        <li>There's still time to get in on the action as the demand is much higher than the supply.</li>
        <li>Jobs are becoming available in a wide variety of industries, not just tech</li>
        <li>Individuals looking to streamline their analytics workflow</li>
        <li>LinkedIn has recently selected data scientist as its <a href="https://blog.linkedin.com/2019/january/10/linkedins-most-promising-jobs-of-2019" target="_blank">most promising career path of 2019</a></li>
        <li>Linked to the point above, LinkedIn's analyse indicate that companies intend to keep data scientists on their team for the long haul</li>
      </ul>

    <h4>Interactive course material</h4>
    <p>Our training emphasises practical skills. So, although you'll be learning concepts and theory, you'll see how everything is applied in the real world as we work through examples and exercises based on real datasets.</p> 
    <h4>We like questions!</h4>
    <p>Having a firm understanding of the course content will result in you being able to confidently apply your new skills thereafter. So, if at any point you're unsure of something, just ask!</p>
   
  <h2>Requirements</h2>
  <p>All you'll need is a computer with a browser. We'll be using an online development environment. This means that you can focus on learning as much as possible without having to worry about solving technical problems.</p>
  <p>Of course, we're happy to help you get your local environment set up too! You can start by following <a href="https://www.exegetic.biz/blog/r-setup-general/" target="_blank">these instructions.</a></p>
  

  <h2>Pricing</h2>
  <p>R 5000 will get you the full week's worth of training. Day passes can also be purchased for R&nbsp;1000 per day.</p> 
  <p><b>*</b>Seats are limited to ensure quality training and maximum personal attention.</p>
  <div class="register2">
    <button type="button" class="register">Purchase a ticket</button>
  </div>   
<br>
        <h2>Instructors</h2>
<br>
        <div class="row">
            <div class="col-sm-6">
                <div class="speaker">
                    <div class="speaker-photo">
                        <img src="images/andrewcollier.jpg" style="border-radius: 50%;"/>
                    </div>
                    <div class="speaker-name">
                        Andrew Collier
                    </div>
                    <div class="speaker-position">
                        Data Scientist / <a href="https://www.exegetic.biz/" target="_blank">Exegetic Analytics</a>
                    </div>
    
                    <div class="speaker-social" style="text-align:center; font-size: 25px;">
                        <a href="https://twitter.com/datawookie" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/datawookieS" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="speaker">
                    <div class="speaker-photo">
                        <img src="images/meganbeckett.jpg" style="border-radius: 50%;"/>
                    </div>
                    <div class="speaker-name">
                        Megan Beckett
                    </div>
                    <div class="speaker-position">
                        Data Scientist / <a href="https://www.exegetic.biz/" target="_blank">Exegetic Analytics</a>
                    </div>
    
                    <div class="speaker-social" style="text-align:center; font-size: 25px;">
                        <a href="https://twitter.com/mbeckett_za" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/MeganBeckett" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
<br>
        <h2>Other options</h2>
        <p> If you like the sound of this course but can't attend this iteration please <a href="https://www.exegetic.biz/#contact" target="_blank">contact us</a> so we can work on setting up another one.</p>
        <p> Looking to expand your skillset but this course doesn't meet your needs? We've got something for everyone - visit our <a href="https://www.exegetic.biz/training/" target="_blank">training</a> page.</p>
        <p> All Exegetic's training options are also avaliable as in-house training at your premises.</p>
  {{ content }}

  </div>


