---
layout: default
---

  <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <a href="https://www.exegetic.biz/"><img src="images/exegetic-banner-grad.svg" alt="Exegetic Analytics logo"></a>
  <h1 style="text-align:center;">Introduction to Data Science with R</h1>

  <div class="row">
      <div class="column">
          <h3>Where: <a href="https://www.google.com/maps/dir//The+Barn+-+Woodstock+Exchange,+Block+B,+Woodstock+Industrial+Centre,+66-68+Albert+Rd,+Woodstock,+Cape+Town,+7915/@-30.7662416,15.719826,5z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc5d995de78aa1:0xa5b8a48b84a35c36!2m2!1d18.4458201!2d-33.9269">Bandwidth Barn</a></h3>
        </div>

        <div class="column">
            <h3>When: 24-28 June 2019</h3>
          </div>
  </div>
<br>
  <h2>Condensed course outline</h2>
  <table id="timetable">
      <tr>
        <td rowspan="2" class="col1">Day 1</td>
        <td class="col2">AM</td> 
        <td class="col2"><a href="https://www.exegetic.biz/training/r-introduction/">Introduction to R</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
        <td class="col2"><a href="https://www.exegetic.biz/training/r-data-wrangling/">Data Wrangling</a></td>
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 2</td>
        <td class="col2">AM</td> 
        <td rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-visualisation-ggplot2/">Visualisation</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 3</td>
        <td class="col2">AM</td> 
        <td class="col2">Machine Learning:<a href="https://www.exegetic.biz/training/r-machine-learning-classification/"> Classification</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
        <td class="col2">Machine Learning:<a href="https://www.exegetic.biz/training/r-machine-learning-linear-models/"> Linear Models</td>
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 4</td>
        <td class="col2">AM</td> 
        <td  rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-shiny-apps/">Building Shiny Apps</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
      <tr>
        <td rowspan="2" class="col1">Day 5</td>
        <td class="col2">AM</td> 
        <td rowspan="2" class="col2"><a href="https://www.exegetic.biz/training/r-markdown/">RMarkdown and automated reporting</a></td>
      </tr>
      <tr>
        <td class="col2">PM</td> 
      </tr>
    </table>

  <h2>Scope and objectives:</h2>
  <p>This course is aimed at people who have little to no R experience, we will open with an <b>Introduction to R</b> introducing the fundamental features of the language. This will serve as a foundation for the rest of the course.</p> 
  <p>Next up: <b>Data Wrangling</b>! Here you'll become more familiar with your new best friend, the <a href="https://www.tidyverse.org/">Tidyverse</a>. From loading data from different file types to functional programming with purrr, we've got it all covered.</p>
  <p>On day 2 we'll demonstrate how to combine the basic components of <b>ggplot2</b> in order to form sophisticated <b>visualisations</b>. We’ll then take a look at extensions for labelling points in congested scatterplots and producing animations.</p>
  <p><b>Machine Learning</b> will be our next focus. We'll cover both classification and linear models. </p>
  <p>By the end of day 4 you'll be well on your way to becoming a <b>Shiny</b> sovereign having learned how to:
    <ul>
      <li>understand the structure of a Shiny application (UI and server)</li>
      <li>assemble an attractive UI</li>
      <li>understand reactivity and how the UI and server communicate with each other</li>
      <li>deploy a Shiny application</li>
    </ul></p>
  <p>Our final day, dedicated to <b>RMarkdown</b> & <b>automated reporting</b>, will teach you everything you need to know in order to source & prepare data, create an R markdown doc with tables and figures and how to schedule recurring reports.</p>
  
  <h4>Highly-practical & interactive</h4>
  <p>Our training emphasises practical skills. So, although you'll be learning concepts and theory, you'll see how everything is applied in the real world as we work through examples and exercises based on real datasets. We like questions! Having a firm understanding of the content of the course will result in you being able to confidently apply your new skills thereafter so if at any point you're unsure of something ASK!</p>

  <h2> Requirements:</h2>
  <p>All you'll need is a computer with a browser. We'll be using an online development environment. This means that we can focus on learning as much as possible without having to dedicate time to solving technical problems.</p>
  <p>Of course, we are happy to help you get your local environment set up too! You can start by following <a href="#">these instructions.</a></p>
        <div class="row">
            <div class="column">
              <h2> Who should attend</h2>
              <ul>
                <li>Academics</li>
                <li>Graduate students</li>
                <li>Data analysts</li>
              </ul>
            </div>    
            <div class="column">
                <h2>Why should I attend</h2>
                <ul>
                  <li>Do you analyse data with Excel?</li>
                  <li>Do you want to streamline your analytics workflow?</li>
                </ul>
            </div>
        </div>
<br>    
        <h2>Instructors</h2>
<br>
        <div class="row">
            <div class="col-sm-6">
                <div class="speaker">
                    <div class="speaker-photo">
                        <img src="images/andrewcollier.jpg" style="border-radius: 50%;"/>
                    </div>
                    <div class="speaker-name">
                        Andrew Collier
                    </div>
                    <div class="speaker-position">
                        Lead Data Scientist
                    </div>
    
                    <div class="speaker-social" style="text-align:center; font-size: 25px;">
                        <a href="https://twitter.com/datawookie"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/datawookieS"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="speaker">
                    <div class="speaker-photo">
                        <img src="images/meganbeckett.jpg" style="border-radius: 50%;"/>
                    </div>
                    <div class="speaker-name">
                        Megan Beckett
                    </div>
                    <div class="speaker-position">
                        Senior Data Scientist
                    </div>
    
                    <div class="speaker-social" style="text-align:center; font-size: 25px;">
                        <a href="https://twitter.com/mbeckett_za"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/MeganBeckett"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
<br>
        <h2>Registration</h2>
        <p>R 5000 will get you the full week's worth of training. Day passes can also be purchased for R&nbsp;1000 per day. <b>*</b>Seats are limited to ensure quality training and maximum personal attention.</p>

        <div class="register2">
            <button type="button" class="register">Purchase a ticket</button>
        </div>
<br>
        <h2> The Contingency</h2>
        <p> If you like the sound of this course but can't attend this iteration please <a href="#">contact us</a> so we can work on setting up another one. </p>
        <p> Looking to expand your skillset but this course doesn't meet your needs? We've got something for everyone - visit our <a href="https://www.exegetic.biz/training/">training</a> page.</p>

  {{ content }}

  </div>


